.container {
	display:grid;
	height: 100vh;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:0.5fr 1.5fr 1.2fr 0.8fr;
	grid-template-areas:
		"nav nav nav nav"
		"sidebar main main main"
		"sidebar content1 content2 content3"
		"sidebar footer footer footer";
	grid-gap: 0.2rem;
	text-align:center;
    
}

    nav {													
    background:#E51F1F;													
    grid-area:nav;												
    }
                                                     
    main {													
    background:#F7FC0E;													
    grid-area:main;												
    }
                                                       
    #sidebar {													
    background:#fb9b0d;													
    grid-area:sidebar;												
    }
                                                      
    #content1 {													
    background:#0DFC25;													
    grid-area:content1;												
    }
                                                      
    #content2 {													
    background:#17F9F9;													
    grid-area:content2;												
    }
                                                    
    #content3 {													
    background:#0F43FD;													
    grid-area:content3;												
    }
                                                    
    footer {													
    background:#9626DB;													
    grid-area:footer;												
    }


    @media only screen and (max-width:550px)
    {
        .container {
            flex-direction: column;
            grid-template-columns: 1fr;
            grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
            grid-template-areas:
                "nav"
                "sidebar"
                "main"
                "content1"
                "content2"
                "content3"
                "footer"
            }
    }